.box{
    width: 100px;
    height: 100px;
    background-color: gold;
    border: 1px solid black;
    border-top: 3px solid red;
    border-right: 3px solid burlywood;
    border-bottom: 3px solid green;
    border-left: 3px solid purple
}

.item{
    margin:30px auto;
    width:200px;
    height:200px;
    background-color: royalblue;
    /* border-radius: 10px 20px 30px 40px; */
    /*lt ,rt, rb, lb 순서*/
    border-radius: 10%; 
    /* 50%가되면 원이됨 */
    

}
.item:hover
{
    /* x-offset, y-offset, blur(번짐정도), spread(그림자크기), color */
    box-shadow: 5px 5px 10px 3px gray;
}