.block{
    width:150px;
    height:150px;
    border:1px solid red;
}
.color1{
    background-color: gold;
}
.color2{
    background-color: green;
}
.color3{
    background-color: plum;
}
.color4{
    background-color: antiquewhite;
}
.color5{
    background-color: cadetblue;
}
/* block to inline */
.d-inline{
    display:inline;
}
/* inline to block  */
.d-block{
    display:block;
}
/*하이브리드*/
.d-inline-block
{
    display:inline-block;
}

/*영역 채로 사라짐*/
.d-none{
    display:none
}
/*영역은 남아있는데 안보임*/
.v-hidden
{
    visibility: hidden;
}
/*영역은 남아있는데 안보임*/
.opacity-0
{
    opacity: .3;
}
