.ghost-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   }
   .ghost {
    background-color: red;
    width: 1rem;
    height: 1rem;
    box-shadow:
           -1rem -7rem #0e0909, 0 -7rem pink, 1rem -7rem #0e0909, 
            2rem -7rem #0e0909, 3rem -7rem #0e0909, 4rem -7rem #0e0909, 
           -2rem -6rem #0e0909, 3rem -6rem #0e0909, -3rem -5rem#0e0909, 
            3rem -5rem #0e0909,-3rem -4rem #0e0909, -1rem -4rem #0e0909,
            1rem -4rem #0e0909, 4rem -4rem #0e0909, -3rem -3rem #0e0909, 
            4rem -3rem #0e0909, -6rem -2rem #0e0909, -5rem -2rem #0e0909, 
           -4rem -2rem #0e0909, -1rem -2rem #0e0909, 0 -2rem #0e0909, 
            1rem -2rem #0e0909, 5rem -2rem #0e0909, 6rem -2rem #0e0909, 
            7rem -2rem #0e0909, -6rem -1rem #0e0909, 7rem -1rem #0e0909, 
           -5rem 0 #0e0909, 6rem 0 #0e0909, -4rem 1rem #0e0909, 
            5rem 1rem #0e0909, -4rem 2rem #0e0909, 4rem 2rem #0e0909,
           -4rem 3rem #0e0909,4rem 3rem #0e0909, -3rem 4rem #0e0909,
            4rem 4rem #0e0909, -2rem 5rem #0e0909,3rem 5rem #0e0909, 
           -1rem 6rem #0e0909, 0 6rem #0e0909, 3rem 6rem #0e0909, 
            1rem 7rem #0e0909, 2rem 7rem #0e0909, 3rem 7rem #0e0909, 
            4rem 7rem #0e0909;
     
   }
   body{
    background-color: cadetblue;
   }